@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "gopher", system-ui, sans-serif;
    background-color: #141414;
  }

  .anchor {
    scroll-margin-top: calc(80px + 2.5em);
  }

  .is-active {
    transition: all 100ms ease-in-out;
  }

  input,
  textarea {
    border-radius: 0%;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: none;
  }

  /* LOCOMOTIVE 🚂 */
  html .has-scroll-smooth {
    overflow: hidden !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .has-scroll-smooth body {
    overflow: hidden;
    min-height: 100vh;
  }

  .has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
  }

  .scroll-container {
    min-height: 100vh;
    z-index: 100;
    position: relative;
    overflow: hidden;
  }

  [data-scroll-section] {
    will-change: auto;
  }

  [data-scroll-section-inview] {
    will-change: transform, opacity !important;
  }

  .c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
  }

  .c-scrollbar:hover {
    transform: scaleX(1.45);
  }

  .c-scrollbar:hover,
  .has-scroll-scrolling .c-scrollbar,
  .has-scroll-dragging .c-scrollbar {
    opacity: 1;
  }

  .c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
  }

  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }

  /* LOCOMOTIVE END 🚂 */

  .DropdownMenuContent,
  .DropdownMenuSubContent {
    min-width: 313px;
    max-width: 313px;
    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;

    overflow: hidden;
    overflow-y: scroll;
  }

  [data-radix-popper-content-wrapper] {
    top: -10px !important;
    z-index: 999 !important;
  }

  .DropdownMenuContent[data-side='top'],
  .DropdownMenuSubContent[data-side='top'] {
    animation-name: slideDownAndFade;
  }

  .DropdownMenuContent[data-side='right'],
  .DropdownMenuSubContent[data-side='right'] {
    animation-name: slideLeftAndFade;
  }

  .DropdownMenuContent[data-side='bottom'],
  .DropdownMenuSubContent[data-side='bottom'] {
    animation-name: slideUpAndFade;
  }

  .DropdownMenuContent[data-side='left'],
  .DropdownMenuSubContent[data-side='left'] {
    animation-name: slideRightAndFade;
  }

  .DropdownMenuItem,
  .DropdownMenuCheckboxItem,
  .DropdownMenuRadioItem,
  .DropdownMenuSubTrigger {
    line-height: 1;
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 25px;
    position: relative;
    user-select: none;
    outline: none;
  }

  @keyframes slideUpAndFade {
    from {
      opacity: 0;
      transform: translateY(2px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideRightAndFade {
    from {
      opacity: 0;
      transform: translateX(-2px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideDownAndFade {
    from {
      opacity: 0;
      transform: translateY(-2px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideLeftAndFade {
    from {
      opacity: 0;
      transform: translateX(2px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    width: 80%;
  }

  .swiper-slide:nth-child(2n) {
    width: 60%;
  }

  .swiper-slide:nth-child(3n) {
    width: 40%;
  }

}